{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Добро пожаловать в умное приложение! {% endblock %}</h1>

<figure>
    <blockquote class="blockquote">
        <p>Я думаю, что наш разум — это программа, в то время как мозг — аналог компьютера. Теоретически возможно
            скопировать содержимое мозга на компьютер и таким образом создать форму вечной жизни. Сегодня, однако, это
            не в наших силах. </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Британский физик
        <cite title="Source Title">Стивен Хокинг</cite>
    </figcaption>
</figure>
{% endblock %}